-# scene menu
.row
  .span12
    #filmstrip
      %br
      %br
      some desc of stuff
      some desc of stuff
      some desc of stuff
    = render :partial => 'shared/project_scenes', :locals => { project:project }
