-# prev_next project menu
.row
  .span2
    = link_to "previous projects", projects_path, { class:'btn' }
  .span8
    #project-title
      current project: 
      .title
        = link_to project.name, project_path(project)
      %br
  .span2
    .pull-right
      = link_to "upcoming projects", '#', { class:'btn' }

-# show only for admin or manager
-if user_signed_in?
  -if current_user.has_role?(:admin) || current_user.has_role?(:manager)
    .admin
      = link_to 'Edit Project', edit_project_path(project)

