%h2 About Us
%br

%p
  Weclome to Flickstitch!  If you're reading this, you're obivously curious as 
  to what this site is all about.  In a nutshell, Flickstitch is an exercise 
  in community creation.  It's a place where people can come together to work 
  on a short film project and, hopefully, have a good time doing it.  

%p
  How it 
  works it that each project is broken down into a number of scenes.  The 
  basics of the scene are given (the start and end), but how it moves from 
  point A to point B is completely up to you.  Do you see the humor in a scene?  
  Maybe you're feeling a little more tension and drama?  It's your call.  
  Create it, film it, submit it, then go and vote on it!  
  
%p
  Each scene will have 
  a submission timeframe in which people can submit as many interpretations of 
  the scene as they like.  When the submission period has ended , voting begins.  
  The submission that garners the most votes within the voting window will become 
  the offical scene for the project.  Once all the scenes have been selected, 
  they will be edited together and the short film will have it's world premiere 
  right here on Flickstitch. We hope you enjoy the show!

%p
  Flickstitch...created of the crowd by the crowd for the crowd.
