#hero
  #hero-container
    %table
      %tr
        %td
          CREATE.
          = image_tag asset_path('icon1.png')
        %td
          SUBMIT.
          = image_tag asset_path('icon2.png')
        %td
          VOTE.
          = image_tag asset_path('icon3.png')

.container
  .row
    .span2
      &nbsp;
    .span8
      %br
      %br
      %p(style='font-size:20px; color:black; line-height:24px;')
        CREATE a short video clip based on the story guidelines.  SUBMIT your short “flick” for the chapter in the story.  VOTE for the best “flick” and watch the whole story come together.
    .span2
      &nbsp;
