explain simply what our website is about

%ol
  %li submit
  %li vote
  %li collaborate

= link_to "Login", new_user_session_path
%br
%br
= link_to "Register", new_user_registration_path
%br
%br
= link_to "Continue without signing in/registering", home_path
