#hero
  #hero-container
    %table
      %tr
        %td
          CREATE.
          = image_tag asset_path('icon1.png')
        %td
          SUBMIT.
          = image_tag asset_path('icon2.png')
        %td
          VOTE.
          = image_tag asset_path('icon3.png')
