%h2 Privacy Policy

%p
  Protecting your privacy is important to flickstitch.com, and this statement is intended to make you aware of our commitments to you as an important visitor to our website.   We will notify you of any material changes to our Privacy Policy by posting the new Privacy Policy on our flickstitch.com. You are advised to consult this Privacy Policy regularly for any changes.
%ol
  %li 
    %p
      %strong Information. 
      Our primary goals in collecting personally identifiable information is to provide you with the product and services made available through flickstitch.com, including, but not limited, to messaging via Instant Messages, SMA, and WAP, to communicate with you, and to manage your registered user account, if you have one.
  %li 
    %p
      %strong Use of your information.
      Information is collected and used in various ways that will help us better serve our users and visitors to our website. We may share your personal information with our affiliated companies in order to identify products or services in which you may have interest, to improve our user experience and generally to engage in market research and for other internal business purposes. We may also aggregate your personal information with others' information and prepare reports on site usage. Those reports are aggregated and include no personally identifying information. Finally, we may use your personal information to send you email communications regarding products or services offered by us or by third parties with whom we have relationships in which we think you may be interested. We do not share, sell, trade or rent your personal information to third parties for unknown reasons. 
  %li 
    %p
      %strong Use of Contact Information.
      In addition, we may use your contact information to market to you, and provide you with information about, our products and services. If you decide at any time that you no longer wish to receive such information or communications from us, please follow the unsubscribe instructions provided in any of the communications.
  %li 
    %p
      %strong Browsing.
      Our server’s automatically record information that your browser sends whenever you visit a website. Information collected while browsing through our website is collected to help run our site more efficiently, to gather broad demographic information, to monitor the level of activity on our site, and to evaluate the effectiveness of advertising and promotion. 
  %li 
    %p
      %strong Online surveys and polling.
      Information collected you volunteer to complete surveys or participate in polls. Surveying and polling is extremely important to us as we use this information to improve our product and service offerings. 
  %li 
    %p
      %strong Promotional activities.
      When you enter a contest or other promotion, we may ask you for information such as your name, address and e-mail address to administer the program or activity, to send you promotional e-mails, notify winners and make the winners' list publicly available in compliance with laws which may apply to such activities. 
  %li 
    %p
      %strong Newsletters and promotional e-mails.
      As a service to our customers, we may e-mail you newsletters, promotional information and other information, using your Personal Information collected online. These e-mails will only be sent to you if you have agreed to receive them and you have the right to opt out from further receiving them. 
  %li 
    %p
      %strong Contact information.
      If you contact us, we may keep a record of your correspondence or comments, including any information therein. We use this information to help us provide better service. 
  %li 
    %p
      %strong Cookies.
      A "cookie" is a small data file that a website can send to your browser, which may then be stored on your system. We use cookies to better serve you when you return to our site. Accepting the cookies used on our site enables our web server to identify your system by reading the cookie that has been stored on your system, but our web server cannot identify you unless you enter your Personal Information. Cookies that are placed when visiting our site cannot be used to obtain your Personal Information at another site. The information collected online permits us to analyze traffic patterns on our site. This can enable us over time to provide users with a better experience on our site by improving the content and making it easier to use. Depending on the browser used, you can set your browser to notify you before you receive a cookie, giving you the chance to decide whether to accept it, and you can also set your browser to turn off cookies. However, if you do so, some areas of this site may not function properly, or you will be required to re-enter your Personal Information to use an area of this site. 
  %li 
    %p
      %strong Children's privacy.
      If you are under the age of 18, please make sure that you provide your Personal Information only after obtaining your parental consent. flickstitch.com is not directed to persons under 13. If a parent or guardian becomes aware that his or her child has provided us with personally identifiable information without their consent, he or she should contact us at contact at flickstitch dot com. We do not knowingly collect personally identifiable information from children under 13. If we become aware that a child under 13 has provided us with personal identifiable Information, we will delete such information from our files.
  %li 
    %p
      %strong Protecting your Personal Information.
      flickstitch.com is very concerned about safeguarding the confidentiality of your personally identifiable information. We employ administrative, physical and electronic measures designed to protect your information from unauthorized access, but cannot guarantee that unauthorized access will never occur.
  %li 
    %p
      %strong Links to other Websites.
      flickstitch.com may contains links to other websites. The fact that we link to a website is not an endorsement, authorization or representation of our affiliation with that third party. We do not exercise control over third party websites. These other websites may place their own cookies or other files on your computer, collect data or solicit personally identifiable information from you. Other sites follow different rules regarding the use or disclosure of the personally identifiable information you submit to them. We encourage you to read the privacy policies or statements of the other websites you visit.
  %li 
    %p
      %strong Changes to this Statement.
      flickstitch.com reserves the right to change this Online Privacy Statement at any time. Any such changes will be posted in this Privacy Statement. 
  %li 
    %p
      %strong Applicable laws.
      flickstitch.com cooperates with government and law enforcement officials or private parties to enforce and comply with the law. We may disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims, legal process (including subpoenas), to protect the property and rights of flickstitch.com or a third party, the safety of the public or any person, to prevent or stop any illegal, unethical, or legally actionable activity, or to comply with the law

