%h2 Terms Of Service
%br

%p
  Welcome to flickstitch.com!  flickstitch.com is provided to you for your personal entertainment, information, education and communication.  Please read these Terms and Conditions carefully. 

%p
  By accessing flickstitch.com, you accept, without limitation or qualification, the following Terms and Conditions. You are only authorized to use flickstitch.com and its services if you agree to abide by all applicable laws and to these Terms and Conditions. If you do NOT accept the Terms and Conditions, then please discontinue your use of flickstitch.com

%h3
  General Terms & Conditions:
%ol
  %li We reserve the right to modify these Terms and Conditions from time to time and such modification shall be effective upon posting on flickstitch.com. You agree to be bound to any changes to these Terms and Conditions when you use flickstitch.com after any such modification is posted. 
  %li We reserve the right to modify or terminate the flickstitch.com service for any reason, without notice at any time.  You may stop using the flickstitch.com at any time. You do not need to specifically inform flickstitch.com when you stop using flickstitch.com. You acknowledge and agree that if flickstitch.com disables access to your account, you and others may be prevented from accessing your account details or any content which is contained in your account.
  %li We reserve the right, in accordance with any applicable laws, to refuse service to anyone for any reason at any time.
  %li We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.
  %li The flickstitch.com service makes it possible to post images and text hosted on flickstitch.com to outside websites. This use is accepted (and even encouraged!). However, pages on other websites which display data hosted on flickstitch.com must provide a link back to flickstitch.com.
  %li We reserve the right to reclaim usernames and character names on behalf of businesses or individuals that hold legal claim or trademark on those names.

%h3
  Additional Terms:
%ol
  %li You must be 13 years or older to use this site.
  %li You are responsible for keeping your password secure.
  %li You are solely responsible for any activity, content, graphics, and photos that you submit, post and display in your account and under your character names.
  %li You must not create or submit unwanted email or tweets to any flickstitch.com members ("Spam").
  %li You must not modify, adapt or hack flickstitch.com or modify another website so as to falsely imply that it is associated with flickstitch.com.
  %li Use of the following is strictly prohibited:
  %ul
    %li Strong, vulgar, obscene or otherwise harmful language
    %li Racially, ethnically or otherwise, objectionable language
    %li Harassing, intimidating, impersonating, stalking or threatening other members
    %li Online vandalism
    %li Posting, distributing, transmitting or promoting illegal content
    %li Invasion of another's privacy
    %li Actions that are hurtful to minors
    %li Posting, providing, transmitting or otherwise making available any materials or information infringing on the rights of a third party
  %li You must not post, provide, transmit or otherwise making available any junk mail or spam, that contains any malicious computer code, or reverse engineering or hacking any materials on flickstitch.com 
  %li You must not, in the use of flickstitch.com, violate any laws in your jurisdiction (including but not limited to copyright laws).

%p
  Violation of any of these agreements will result in the termination of your flickstitch.com account. While flickstitch.com prohibits such conduct and content on its site, you understand and agree that flickstitch.com cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the flickstitch.com service at your own risk.

%h3
  Intellectual Property:
%p
  You represent and warrant that: (i) you own the content posted by you on or through flickstitch.com or otherwise have the right to grant the license set forth below, and (ii) the Posting of your content does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person. 
%p
  By displaying or posting content on flickstitch.com, you hereby grant us a nonexclusive global license to publish the content submitted by you to flickstitch.com. You also grant us global nonexclusive adaptation and resale rights over any content and material submitted to flickstitch.com. These nonexclusive publishing license and resale/adaptation rights extend to any materials submitted "for publication" within flickstitch.com, including both message board postings and content submitted for uploading and subsequent publishing within non-message board portions of flickstitch.com. Neither we nor our staff will be responsible for any misleading, false or otherwise injurious information and advice communicated on flickstitch.com or for any results obtained from the use of such information or advice. We will not be liable for any loss or damage suffered by a user through the user's reliance on information and advice gained on flickstitch.com.

%h3
  Indemnity:

%p
  You agree to indemnify and hold us, and our subsidiaries, affiliates, directors, officers, agents, vendors or other partners and employees harmless from any claim or demand, including attorneys' fees, made by any third party due to or arising out of any material or information posted, provided, transmitted or otherwise made available by you on flickstitch.com or through the flickstitch.com's services, or by your violation of these Terms of Service, or by your violation of the rights of another.

%h3
  Limitation of Liability:

%p
  YOU EXPRESSLY UNDERSTAND AND AGREE THAT FLICKSTITCH.COM AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF FLICKSTITCH.COM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SERVICE; (ii) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE; (iii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iv) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (v) ANY OTHER MATTER RELATING TO THE SERVICE.
