= render :partial => '/shared/project_scene_menu', :locals => { project:@project }

.row
  .span2
    %h4 Submissions
    .video-list(data-bind="foreach: videos, fade_videos_in: videos")
      score
      %span(data-bind='text: score')
      %br
      %a(data-bind="click: $parent.click_video_menu")
        %img(data-bind="attr: { src: thumbnail_url }")
      %br
      %a(data-bind="click: $parent.click_video_menu, text: name")
      %hr

  .span10
    #project-synopsis
      %strong
        project synopsis: 
      = @project.desc
    %br

    .video-details(data-bind="template: { data: video }, fade_videos_in: video")
      %div(data-bind="text: name")
      %div(data-bind="text: actors")
      %div(data-bind="text: created_at")
      %div(data-bind="text: video_url")


%div.project-meta(data-video-url="#{video_url}")
