= render :partial => '/shared/project_scene_menu', :locals => { project:@project }

knockout stuff goes here
.row
  .span2
    list of vids
    .video-list(data-bind="template: { name: 'videos-template', foreach: videos }, fade_videos_in: videos")
    %script(type="text/html" id="videos-template")
      %div(data-bind='text: id')
      %div(data-bind='text: name')
      %div(data-bind='text: score')
      %img(data-bind="attr: { src: thumbnail_url }")

  .span10
    #project-synopsis
      %strong
        project synopsis: 
      = @project.desc
    %br

%div.project-meta(data-video-url="something")
