= render :partial => '/shared/project_scene_menu', :locals => { project:@project }

.row
  .span2
    %h4 Submissions
    .video-list(data-bind="foreach: videos, fade_videos_in: videos")
      %span(data-bind='text: name')
      %br
      score
      %span(data-bind='text: score')
      %img(data-bind="attr: { src: thumbnail_url }")
      = link_to "video details", video_path
      %hr

  .span10
    #project-synopsis
      %strong
        project synopsis: 
      = @project.desc
    %br

%div.project-meta(data-video-url="something")
