@import "bourbon";
@import "reset";
@import "global";
@import "pages";
@import "978";

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;

  .content {
    min-height: 200px;
  }

  a {
    text-decoration: none;

    &:link {
      color: $link-color;
      style: none;
    }

    &:visited {
      color: $link-color;
    }

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $link-color;
    }
  }
}

body .footer {
  padding: 5px;
  border-top: solid #ccc 2px;
  color: #777;
  font-size: 13px;
}
