@import "global";
@import "twitter/bootstrap";
@import "pages";
@import "978";
@import "videos";

body {
  .navbar-inner {
    border-radius: 0;
  }

  .yield-content {
    min-height: 200px;
  }
}

#project-title {
  text-align: center;

  .title {
    font-size: $font-size * 1.5;
    font-weight: bold;
  }
}

#scene-menu {
  text-align: center;

  table { 
    cell-padding: 0;
    cell-spacing: 0;
    margin: auto;
    td { 
      vertical-align: top;
    }
  }

  .vote {
    vertical-align: middle;
    width: 120px;
    height: 90px;
    background-color: #ccc;
  }

  .submit {
    width: 120px;
    height: 90px;
    background-color: #ccc;
  }

  .nothing {
    width: 120px;
    height: 90px;
    background-color: #ccc;
  }

}

form {
  // video
  textarea.video-desc {
    width: 400px;
    height: 70px;
  }

  #registration_username {
    font-size: $font-size * 1.5;
  }
}
