$font-size: 14px;
$font-family: $helvetica;
$font-color: #555;
$link-color: #09c;
$line-height: 1.5em;

$line-break-height: 15px;

$error-color: #9A1F11;
$error-background-color: #FBE3E4;
$error-border-color: #FBC2C4;

$notice-color: #514721;
$notice-background-color: #FFF6BF;
$notice-border-color: #FFD324;
