// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$video-width: 560px;
$info-box-padding: 8px;

#video_details {
  padding: $info-box-padding;
  width: $video-width - (2 * $info-box-padding);
  background-color: #eee;

  h2 {
    line-height: 1;
  }

  .subline {
    clear: both;
  }

  .ago {
    float: right;
  }

  .video_name {
    font-size: $font-size * 2;
  }

  .by {
    float: left;

    light, small {
      color: #999;
    }
  }
}

table.videos {
  tr {
    td.votes-col {
      padding-left: 0;
      height: 150px;

      .title {
        font-size: $font-size * 1.15;
        font-weight: bold;

        .who {
          font-size: $font-size * .9;
          font-weight: normal;
          line-height: $font-size * 2;
        }
      }
    }
    td.votes-col {
      width: 60px;
      text-align: center;
    }
    td.thumb-col {
      width: 120px;
    }
  }
}

// voting buttons and score
.votes {
  float: right;

  img {
    cursor: pointer
  }
}

.vote-count {
  font-size: $font-size * 2;
  padding-left: 5px;
}

#video-menu {
  width: $video-width;
}

#video-show-sign-in {
  clear: both;
}

#comment_form {
  clear: both;
}

#comments {
  width: $video-width;

  .comment {
  }

  .comment_error {
    color: red;
  }
}

// video form
textarea#video_desc {
  width: 300px;
  height:170px;
}

//hide hint when error messages present
.error .help-block {
  display: none;
}
